Repository ergonode/frontend, pull requests merged in 2021-06, with the labels that each got.

#898 bugfix: validation message
  modules/@ergonode/attributes/src/services/index.js
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Data/GridProductRelationDataCell.vue
  modules/@ergonode/products/src/store/product/actions.js
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Data/GridDataCell.vue
Labels: bug

#899 Remove attach column and notify with number of selected product relations
  modules/@ergonode/products/src/components/Buttons/AddProductRelationsButton.vue
  modules/@ergonode/products/src/components/Forms/Field/ProductTemplateFormProductRelationField.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/components/Inputs/UploadProductRelations.vue
  modules/@ergonode/products/src/components/Modals/AddProductRelationsModalGrid.vue
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Data/GridProductRelationDataCell.vue
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Edit/GridProductRelationEditCell.vue
  modules/@ergonode/products/src/locales/en_GB.json
  modules/@ergonode/products/src/locales/pl_PL.json
  modules/@ergonode/ui/src/components/Grid/Grid.vue
Labels: Core, Product, feature

#902 Add support for new grid endpoint
  modules/@ergonode/core/src/defaults/grid/index.js
  modules/@ergonode/core/src/models/mappers/__tests__/gridDataMapper.test.js
  modules/@ergonode/core/src/models/mappers/gridDataMapper.js
  modules/@ergonode/core/src/services/grid/postGridData.service.js
  modules/@ergonode/products/src/components/Buttons/AddProductRelationsButton.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/components/Modals/AddProductRelationsModalGrid.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Data/Filter/GridFilterDataCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridDateEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridDateTimeEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridMultiSelectEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridNumericEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridSelectEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Edit/Filter/GridTextEditFilterCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Columns/GridDraggableDataColumn.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/GridTableLayout.vue
Labels: Core, UI Components, feature

#901 e2e transition test
  cypress/integration/11:workflow/transitions/1:create.feature
  cypress/integration/11:workflow/transitions/1:create/index.test.js
  cypress/integration/11:workflow/transitions/2:read.feature
  cypress/integration/11:workflow/transitions/2:read/index.test.js
  cypress/integration/11:workflow/transitions/3:update.feature
  cypress/integration/11:workflow/transitions/3:update/index.test.js
  cypress/integration/11:workflow/transitions/4:delete.feature
  cypress/integration/11:workflow/transitions/4:delete/index.test.js
  cypress/integration/common/actions.test.js
  modules/@ergonode/roles/src/extends/transition/components/Forms/TransitionFormRole.vue
  modules/@ergonode/workflow/src/components/Buttons/RemoveWorkflowTransitionButton.vue
  modules/@ergonode/workflow/src/components/Buttons/RemoveWorkflowTransitionFab.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateWorkflowTransitionFab.vue
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutElement.vue
  modules/@ergonode/workflow/src/components/Forms/WorkflowTransitionForm.vue
  modules/@ergonode/workflow/src/pages/workflow/index.vue
Labels: Workflow, tests

#905 bugfix: remove attribute from btach action
  modules/@ergonode/product-batch-actions/src/components/Modals/UpdateProductsModal.vue
Labels: Batch actions, bug

#909 bugfix: product relation cell- remove
  modules/@ergonode/core/src/models/__tests__/arrayWrapper.test.js
  modules/@ergonode/core/src/models/arrayWrapper.js
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Data/GridProductRelationDataCell.vue
Labels: bug

#908 bugfix: remove condtion set delete reqiest
  modules/@ergonode/conditions/src/services/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
Labels: Workflow, bug

#907 bugfix: remove condition set delete request
  modules/@ergonode/segments/src/store/segment/actions.js
  modules/@ergonode/status-transitions/src/store/statusTransition/actions.js
Labels: bug

#910 Add advanced filters to product relations grid
  modules/@ergonode/attributes/src/config/extends.js
  modules/@ergonode/core/src/defaults/grid/index.js
  modules/@ergonode/core/src/models/mappers/__tests__/sideBarDataMapper.test.js
  modules/@ergonode/core/src/models/mappers/sideBarDataMapper.js
  modules/@ergonode/product-batch-actions/src/components/Modals/UpdateProductsModal.vue
  modules/@ergonode/products/src/components/AdvancedFilters/ProductAdvancedFilters.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/components/Grids/ProductsGrid.vue
  modules/@ergonode/products/src/components/Modals/AddProductRelationsModalGrid.vue
  modules/@ergonode/products/src/components/Placeholders/ProductsGridNoDataPlaceholder.vue
  modules/@ergonode/products/src/locales/en_GB.json
  modules/@ergonode/products/src/locales/pl_PL.json
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Header/GridHeaderCell.vue
  modules/@ergonode/ui/src/components/Modal/ModalGrid.vue
  modules/@ergonode/ui/src/components/RichTextEditor/RichTextEditor.vue
  modules/@ergonode/ui/src/components/TabBar/VerticalTabBarList.vue
  modules/@ergonode/ui/src/components/TabBar/VerticalTabContent.vue
Labels: Core, Product, feature

#911 bugfix: remove attributes without checking language
  modules/@ergonode/product-batch-actions/src/components/Modals/UpdateProductsModal.vue
  modules/@ergonode/ui/src/components/DraggableForm/DraggableForm.vue
Labels: bug

#912 bugfix: remove attributes without checking language
  modules/@ergonode/product-batch-actions/src/components/Modals/UpdateProductsModal.vue
  modules/@ergonode/ui/src/components/DraggableForm/DraggableForm.vue
Labels: bug

#913 Add filtering via categories in sidebar
  modules/@ergonode/category-trees/src/config/extends.js
  modules/@ergonode/category-trees/src/extends/product/components/SideBars/CategoryTreesSideBar.vue
  modules/@ergonode/category-trees/src/extends/product/components/VerticalTabs/CategoryTreesVerticalTab.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/components/Modals/AddProductRelationsModalGrid.vue
  modules/@ergonode/products/src/components/Tabs/ProductCatalogTab.vue
Labels: Attribute, Category tree, Core, Product, feature

#914 Exclude self product relation from relations grid
  modules/@ergonode/core/src/defaults/operators/index.js
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
Labels: Product, feature

#916 bugfix: remove action column
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/extends/components/Grids/ProductVariantsToAttachGrid.vue
  modules/@ergonode/products/src/extends/components/Grids/ProductsToAttachForGroupGrid.vue
  modules/@ergonode/ui/src/components/Grid/Grid.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/GridCollectionLayout.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/GridTableLayout.vue
Labels: bug

#917 Add scope into list disabledElements map
  modules/@ergonode/attributes/src/config/extends.js
  modules/@ergonode/attributes/src/defaults/index.js
  modules/@ergonode/attributes/src/extends/attribute/components/SideBars/AttributeSideBarElement.vue
  modules/@ergonode/attributes/src/extends/attribute/components/SideBars/AttributesSideBar.vue
  modules/@ergonode/attributes/src/extends/attribute/components/SideBars/SystemAttributesSideBar.vue
  modules/@ergonode/attributes/src/extends/attribute/components/VerticalTabs/AttributesVerticalTab.vue
  modules/@ergonode/attributes/src/extends/attribute/components/VerticalTabs/SystemAttributesVerticalTab.vue
  modules/@ergonode/categories/src/config/extends.js
  modules/@ergonode/categories/src/extends/categoryTree/components/SideBars/CategoriesSideBar.vue
  modules/@ergonode/categories/src/extends/categoryTree/components/SideBars/CategorySideBarElement.vue
  modules/@ergonode/categories/src/extends/categoryTree/components/VerticalTabs/CategoriesVerticalTab.vue
  modules/@ergonode/category-trees/src/components/Tabs/CategoryTreeDesignerTab.vue
  modules/@ergonode/category-trees/src/components/TreeDesigners/CategoryTreeDesigner.vue
  modules/@ergonode/category-trees/src/config/extends.js
  modules/@ergonode/category-trees/src/extends/product/components/SideBars/CategoryTreesSideBar.vue
  modules/@ergonode/category-trees/src/extends/product/components/VerticalTabs/CategoryTreesVerticalTab.vue
  modules/@ergonode/category-trees/src/store/categoryTree/actions.js
  modules/@ergonode/conditions/src/components/SideBars/ConditionSideBarElement.vue
  modules/@ergonode/conditions/src/components/SideBars/ConditionsSideBar.vue
  modules/@ergonode/conditions/src/components/VerticalTabs/ConditionsVerticalTab.vue
  modules/@ergonode/conditions/src/config/extends.js
  modules/@ergonode/core/src/components/LanguageInheritanceTreeDesigner/LanguageInheritanceTreeDesigner.vue
  modules/@ergonode/core/src/components/SideBars/LanguageSideBarElement.vue
  modules/@ergonode/core/src/components/SideBars/LanguagesSideBar.vue
  modules/@ergonode/core/src/components/Tabs/LanguagesSettingsTab.vue
  modules/@ergonode/core/src/components/VerticalTabs/LanguagesVerticalTab.vue
  modules/@ergonode/core/src/config/extends.js
  modules/@ergonode/core/src/models/mappers/sideBarDataMapper.js
  modules/@ergonode/core/src/store/list/actions.js
  modules/@ergonode/core/src/store/list/mutations.js
  modules/@ergonode/product-batch-actions/src/components/Modals/UpdateProductsModal.vue
  modules/@ergonode/product-batch-actions/src/components/SideBars/AttributeSideBarElement.vue
  modules/@ergonode/product-batch-actions/src/components/SideBars/AttributesSideBar.vue
  modules/@ergonode/product-batch-actions/src/config/extends.js
  modules/@ergonode/product-templates/src/components/SideBars/WidgetSideBarElement.vue
  modules/@ergonode/product-templates/src/components/SideBars/WidgetsSideBar.vue
  modules/@ergonode/product-templates/src/components/Tabs/TemplateDesignerTab.vue
  modules/@ergonode/product-templates/src/components/TemplateDesigner/ProductDesigner/AttributeElementContent.vue
  modules/@ergonode/product-templates/src/components/TemplateDesigner/ProductDesigner/SectionElementContent.vue
  modules/@ergonode/product-templates/src/components/TemplateDesigner/TemplateDesigner.vue
  modules/@ergonode/product-templates/src/components/VerticalTabs/WidgetsVerticalTab.vue
  modules/@ergonode/product-templates/src/config/extends.js
  modules/@ergonode/product-templates/src/pages/product-templates/_template/_id.vue
  modules/@ergonode/product-templates/src/store/productTemplate/actions.js
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
  modules/@ergonode/products/src/components/Grids/ProductsGrid.vue
  modules/@ergonode/ui/src/components/AdvancedFilters/AdvancedFilter.vue
  modules/@ergonode/ui/src/components/Grid/DropZone/AddFilterDropZone.vue
  modules/@ergonode/ui/src/components/Grid/DropZone/AddGridColumnDropZone.vue
  modules/@ergonode/ui/src/components/Grid/Grid.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/Cells/Header/GridHeaderCell.vue
  modules/@ergonode/ui/src/components/TreeDesigner/TreeDesignerDraggableLayer.vue
Labels: Core, feature

#918 Add support for selecting / editing / removing cells in GridCollectionLayout
  modules/@ergonode/ui/src/components/Grid/Grid.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/Cells/GridCollectionCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/Cells/GridCollectionCellActionsPanel.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/Cells/GridCollectionDefaultCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/Cells/Header/GridSelectCollectionHeaderCell.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/GridCollectionLayout.vue
Labels: Core, UI Components, feature

#923 Update vue-windowing dependency
  package-lock.json
  package.json
Labels: Core

#924 Improved clearing vuex state mechanism
  modules/@ergonode/activity-logs/src/pages/activity-logs/index.vue
  modules/@ergonode/attribute-groups/src/pages/attribute-groups/_group/_id.vue
  modules/@ergonode/attribute-groups/src/store/attributeGroup/actions.js
  modules/@ergonode/attributes/src/pages/attributes/_attribute/_id.vue
  modules/@ergonode/attributes/src/store/attribute/actions.js
  modules/@ergonode/categories/src/pages/categories/_category/_id.vue
  modules/@ergonode/categories/src/pages/categories/index.vue
  modules/@ergonode/categories/src/store/category/actions.js
  modules/@ergonode/category-trees/src/pages/category-trees/_tree/_id.vue
  modules/@ergonode/category-trees/src/store/categoryTree/actions.js
  modules/@ergonode/channels/src/pages/channels/_channel/_id.vue
  modules/@ergonode/channels/src/store/channel/actions.js
  modules/@ergonode/collections/src/pages/collections/_collection/_id.vue
  modules/@ergonode/collections/src/store/collection/actions.js
  modules/@ergonode/core/src/locales/en_GB.json
  modules/@ergonode/core/src/locales/pl_PL.json
  modules/@ergonode/core/src/mixins/feedback/confirmLeaveModalMixin.js
  modules/@ergonode/core/src/mixins/route/beforeRouteLeaveMixin.js
  modules/@ergonode/core/src/mixins/route/beforeRouteUpdateMixin.js
  modules/@ergonode/core/src/models/mappers/feedbackMapper.js
  modules/@ergonode/core/src/pages/settings/_unit/_id.vue
  modules/@ergonode/core/src/pages/settings/index.vue
  modules/@ergonode/core/src/store/tab/mutations.js
  modules/@ergonode/core/src/store/unit/actions.js
  modules/@ergonode/import/src/components/Modals/CreateImportProfileModalForm.vue
  modules/@ergonode/import/src/pages/imports/_import/_id.vue
  modules/@ergonode/import/src/store/import/actions.js
  modules/@ergonode/media/src/pages/media/_resource/_id.vue
  modules/@ergonode/media/src/store/media/actions.js
  modules/@ergonode/product-statuses/src/pages/product-statuses/_status/_id.vue
  modules/@ergonode/product-statuses/src/store/productStatus/actions.js
  modules/@ergonode/product-templates/src/pages/product-templates/_template/_id.vue
  modules/@ergonode/product-templates/src/store/productTemplate/actions.js
  modules/@ergonode/products/src/pages/catalog/_product/_id.vue
  modules/@ergonode/products/src/pages/catalog/index.vue
  modules/@ergonode/products/src/store/product/actions.js
  modules/@ergonode/roles/src/pages/roles/_role/_id.vue
  modules/@ergonode/roles/src/store/role/actions.js
  modules/@ergonode/segments/src/pages/segments/_segment/_id.vue
  modules/@ergonode/segments/src/store/segment/actions.js
  modules/@ergonode/status-transitions/src/pages/status-transitions/_transition/_id.vue
  modules/@ergonode/status-transitions/src/store/statusTransition/actions.js
  modules/@ergonode/users/src/pages/users/_user/_id.vue
  modules/@ergonode/users/src/store/user/actions.js
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowStatusButton.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowTransitionConditionDesignerTab.vue
  modules/@ergonode/workflow/src/pages/workflow/_status/_id.vue
  modules/@ergonode/workflow/src/pages/workflow/_transition/_id.vue
  modules/@ergonode/workflow/src/pages/workflow/index.vue
  modules/@ergonode/workflow/src/store/workflow/actions.js
Labels: Core, feature

#927 Add missing import dispatch
  modules/@ergonode/product-templates/src/store/productTemplate/actions.js
Labels: bug

#929 bugfix: Start time filed validation
  modules/@ergonode/channels/src/components/Forms/SchedulerForm.vue
Labels: Channels, bug

#926 Include selected product relations in validation
  modules/@ergonode/product-batch-actions/src/components/Forms/Fields/AttributeGalleryFormField.vue
  modules/@ergonode/product-batch-actions/src/components/Forms/Fields/AttributeImageFormField.vue
  modules/@ergonode/product-batch-actions/src/components/Forms/Fields/AttributeProductRelationFormField.vue
  modules/@ergonode/products/src/components/Buttons/AddProductRelationsButton.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
Labels: Core, Product, bug

#930 Improve product relation validations
  modules/@ergonode/products/src/components/Buttons/AddProductRelationsButton.vue
  modules/@ergonode/products/src/components/Grids/AddProductRelationsGrid.vue
Labels: bug

#931 Add missing clearing state to create modals
  modules/@ergonode/attribute-groups/src/components/Modals/CreateAttributeGroupModalForm.vue
  modules/@ergonode/attributes/src/components/Modals/CreateAttributeModalForm.vue
  modules/@ergonode/categories/src/components/Modals/CreateCategoryModalForm.vue
  modules/@ergonode/category-trees/src/components/Modals/CreateCategoryTreeModalForm.vue
  modules/@ergonode/channels/src/components/Modals/CreateChannelModalForm.vue
  modules/@ergonode/collections/src/components/Modals/CreateCollectionModalForm.vue
  modules/@ergonode/core/src/components/Modals/CreateUnitModalForm.vue
  modules/@ergonode/core/src/mixins/route/beforeRouteLeaveMixin.js
  modules/@ergonode/import/src/components/Modals/CreateImportProfileModalForm.vue
  modules/@ergonode/product-statuses/src/components/Modals/CreateProductStatusModalForm.vue
  modules/@ergonode/product-templates/src/components/Modals/CreateProductTemplateModalForm.vue
  modules/@ergonode/products/src/components/Modals/CreateProductModalForm.vue
  modules/@ergonode/roles/src/components/Modals/CreateRoleModalForm.vue
  modules/@ergonode/segments/src/components/Modals/CreateSegmentModalForm.vue
  modules/@ergonode/status-transitions/src/components/Modals/CreateStatusTransitionModalForm.vue
  modules/@ergonode/users/src/components/Modals/CreateUserModalForm.vue
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowStatusButton.vue
  modules/@ergonode/workflow/src/components/Modals/CreateWorkflowStatusModalForm.vue
Labels: bug

#932 Add missing clearing state to modals
  modules/@ergonode/collections/src/components/Modals/AddProductsBySKUModalForm.vue
  modules/@ergonode/collections/src/components/Modals/AddProductsFromSegmentModalForm.vue
  modules/@ergonode/products/src/extends/components/Modals/AddProductsBySKUModalForm.vue
  modules/@ergonode/products/src/extends/components/Modals/AddProductsFromSegmentModalForm.vue
Labels: bug

#933 Hide adding attribute / category
  modules/@ergonode/attributes/src/config/extends.js
  modules/@ergonode/attributes/src/extends/attribute/components/VerticalTabs/AttributesVerticalTab.vue
  modules/@ergonode/category-trees/src/config/extends.js
  modules/@ergonode/category-trees/src/extends/product/components/VerticalTabs/CategoryTreesVerticalTab.vue
Labels: Core, feature

#935 Resolve conflicts with master
  cypress/integration/common/actions.test.js
  modules/@ergonode/conditions/src/config/extends.js
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Data/GridProductRelationDataCell.vue
Labels: bug

#941 Improve associated label for inputs
  modules/@ergonode/core/src/components/Translation/TranslatableTitleProvider.vue
  modules/@ergonode/media/src/components/Tabs/UploadFileTab.vue
  modules/@ergonode/ui/src/components/AdvancedFilters/AdvancedFilter.vue
  modules/@ergonode/ui/src/components/CheckBox/CheckBox.vue
  modules/@ergonode/ui/src/components/Input/InputUUIDProvider.vue
  modules/@ergonode/ui/src/components/RadioButton/RadioButton.vue
  modules/@ergonode/ui/src/components/RichTextEditor/RichTextEditor.vue
  modules/@ergonode/ui/src/components/Select/Select.vue
  modules/@ergonode/ui/src/components/TextArea/TextArea.vue
  modules/@ergonode/ui/src/components/TextField/TextField.vue
  modules/@ergonode/ui/src/components/Toggler/Toggler.vue
  modules/@ergonode/ui/src/components/UploadFile/UploadFile.vue
Labels: Core, UI Components, bug

#939 Product relation draft highlighting
  modules/@ergonode/products/src/extends/ui/components/Grid/Layout/Table/Cells/Data/GridProductRelationDataCell.vue
Labels: bug

#938 Product relations columns sorting order
  modules/@ergonode/core/src/services/grid/postGridData.service.js
Labels: Core, Product, bug

#940 Loading images
  modules/@ergonode/media/src/components/Inputs/UploadFile/UploadImageFile.vue
  modules/@ergonode/ui/src/components/LazyImage/LazyImage.vue
Labels: UI Components, bug
