Repository ergonode/frontend, pull requests merged in 2021-09, with the labels that each got.

#1054 Release/1.0.2
  CHANGELOG.md
  lerna.json
  modules/@ergonode/activity-logs/package.json
  modules/@ergonode/attribute-groups/package.json
  modules/@ergonode/attributes/package.json
  modules/@ergonode/authentication/package.json
  modules/@ergonode/batch-actions/package.json
  modules/@ergonode/categories/package.json
  modules/@ergonode/category-trees/package.json
  modules/@ergonode/channels/package.json
  modules/@ergonode/collections/package.json
  modules/@ergonode/comments/package.json
  modules/@ergonode/conditions/package.json
  modules/@ergonode/core/package.json
  modules/@ergonode/dashboard/package.json
  modules/@ergonode/import/package.json
  modules/@ergonode/media/package.json
  modules/@ergonode/notifications/package.json
  modules/@ergonode/product-batch-actions/package.json
  modules/@ergonode/product-statuses/package.json
  modules/@ergonode/product-templates/package.json
  modules/@ergonode/products-comments/package.json
  modules/@ergonode/products/package.json
  modules/@ergonode/roles/package.json
  modules/@ergonode/segments/package.json
  modules/@ergonode/status-transitions/package.json
  modules/@ergonode/ui/package.json
  modules/@ergonode/users/package.json
Labels: release

#1055 chore(release): v1.1.3
  lerna.json
  modules/@ergonode/activity-logs/package.json
  modules/@ergonode/attribute-groups/package.json
  modules/@ergonode/attributes/package.json
  modules/@ergonode/authentication/package.json
  modules/@ergonode/batch-actions/package.json
  modules/@ergonode/categories/package.json
  modules/@ergonode/category-trees/package.json
  modules/@ergonode/channels/package.json
  modules/@ergonode/collections/package.json
  modules/@ergonode/comments/package.json
  modules/@ergonode/conditions/package.json
  modules/@ergonode/core/package.json
  modules/@ergonode/dashboard/package.json
  modules/@ergonode/import/package.json
  modules/@ergonode/media/package.json
  modules/@ergonode/notifications/package.json
  modules/@ergonode/product-batch-actions/package.json
  modules/@ergonode/product-statuses/package.json
  modules/@ergonode/product-templates/package.json
  modules/@ergonode/products-comments/package.json
  modules/@ergonode/products/package.json
  modules/@ergonode/roles/package.json
  modules/@ergonode/segments/package.json
  modules/@ergonode/status-transitions/package.json
  modules/@ergonode/ui/package.json
  modules/@ergonode/users/package.json
  modules/@ergonode/workflow/package.json
Labels: release

#1053 Add paragraph info to attribute bindings
  modules/@ergonode/products/src/extends/components/Forms/ProductAttributesBindingForm.vue
  modules/@ergonode/products/src/locales/en_GB.json
  modules/@ergonode/products/src/locales/pl_PL.json
Labels: bug

#1052 Add missing extension column to media grid
  modules/@ergonode/media/src/components/Grids/AddMediaGrid.vue
Labels: bug

#1057 Add support for template code
  cypress/integration/05:template/1:create.feature
  cypress/integration/05:template/2:read.feature
  cypress/integration/05:template/3:update.feature
  cypress/integration/05:template/4:delete.feature
  cypress/integration/common/navigation.test.js
  modules/@ergonode/product-templates/src/components/Forms/ProductTemplateForm.vue
  modules/@ergonode/product-templates/src/locales/en_GB.json
  modules/@ergonode/product-templates/src/locales/pl_PL.json
  modules/@ergonode/product-templates/src/store/productTemplate/actions.js
  modules/@ergonode/product-templates/src/store/productTemplate/state.js
  modules/@ergonode/ui/src/components/Form/Form.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/GridTableLayout.vue
  modules/@ergonode/ui/src/components/RichTextEditor/Button/RichTextEditorActionIconButton.vue
  modules/@ergonode/ui/src/components/RichTextEditor/Menu/RichTextEditorMenu.vue
Labels: Template designer, feature

#1058 Add support for extending batch action processing section items
  modules/@ergonode/batch-actions/src/config/extends.js
  modules/@ergonode/batch-actions/src/locales/en_GB.json
  modules/@ergonode/batch-actions/src/locales/pl_PL.json
  modules/@ergonode/product-batch-actions/src/components/NotificationLists/Items/NotificationListBatchActionsProcessingItem.vue
  modules/@ergonode/product-batch-actions/src/config/extends.js
  modules/@ergonode/product-batch-actions/src/config/imports.js
  modules/@ergonode/ui/src/components/Modal/ModalHeader.vue
Labels: feature, Batch actions

#1060 Add warning icon to notification Toolbar button
  modules/@ergonode/notifications/src/components/Badges/NotificationWarningBadge/NotificationWarningBadge.vue
  modules/@ergonode/notifications/src/components/ToolBar/ToolBarNotificationButton.vue
  modules/@ergonode/notifications/src/store/notification/state.js
Labels: feature, Batch actions

#1062 Integrate batch actions with notifications check mechanism
  modules/@ergonode/batch-actions/src/config/extends.js
  modules/@ergonode/batch-actions/src/services/index.js
  modules/@ergonode/notifications/src/components/NotificationList/NotificationList.vue
  modules/@ergonode/notifications/src/defaults/index.js
  modules/@ergonode/notifications/src/store/notification/__tests__/index.test.js
  modules/@ergonode/notifications/src/store/notification/actions.js
  modules/@ergonode/notifications/src/store/notification/state.js
Labels: feature, Batch actions

#1063 Add missing parsing for extending notification key
  modules/@ergonode/batch-actions/src/config/extends.js
Labels: bug, Batch actions

#1064 Get batch action by id and end batch action endpoint
  modules/@ergonode/batch-actions/src/config/extends.js
  modules/@ergonode/batch-actions/src/services/index.js
  modules/@ergonode/ui/src/components/ProgressBar/Circle/CircleProgressBar.vue
Labels: feature, Batch actions

#1065 Add reprocessing batch action
  modules/@ergonode/batch-actions/src/services/index.js
Labels: feature, Batch actions

#1066 Add payload to reprocessing batch action
  modules/@ergonode/batch-actions/src/services/index.js
  modules/@ergonode/notifications/src/components/Badges/NotificationWarningBadge/NotificationWarningBadge.vue
  modules/@ergonode/notifications/src/components/ToolBar/ToolBarNotificationButton.vue
  modules/@ergonode/ui/src/components/ProgressBar/Circle/CircleProgressBar.vue
Labels: feature, Batch actions

#1070 Allow defining custom layouts for Grid component
  modules/@ergonode/core/src/defaults/grid/index.js
  modules/@ergonode/ui/src/components/Grid/Grid.vue
  modules/@ergonode/ui/src/components/Grid/Header/GridHeader.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Collection/GridCollectionLayoutActivator.vue
  modules/@ergonode/ui/src/components/Grid/Layout/Table/GridTableLayoutActivator.vue
  modules/@ergonode/ui/src/components/Grid/Modals/GridSettingsModalForm.vue
Labels: UI Components, Core, feature

#1073 grid footer settings
  modules/@ergonode/ui/src/components/Grid/Grid.vue
  modules/@ergonode/ui/src/config/index.js
  package-lock.json
  package.json
Labels: Grid, performance

#1074 extend custom layout
  modules/@ergonode/products/src/components/Grids/ProductsGrid.vue
Labels: Grid
