Repository ergonode/frontend, pull requests merged in 2021-05, with the labels that each got.

#881 Workflow module init
  modules/@ergonode/workflow/CHANGELOG.md
  modules/@ergonode/workflow/LICENSE.txt
  modules/@ergonode/workflow/README.md
  modules/@ergonode/workflow/package.json
  modules/@ergonode/workflow/src/components/Buttons/CreateProductStatusButton.vue
  modules/@ergonode/workflow/src/components/Buttons/RemoveProductStatusButton.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateProductStatusTranslationButton.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateTransitionsButton.vue
  modules/@ergonode/workflow/src/components/Forms/ProductStatusForm.vue
  modules/@ergonode/workflow/src/components/Forms/ProductStatusTranslationForm.vue
  modules/@ergonode/workflow/src/components/Modals/CreateProductStatusModalForm.vue
  modules/@ergonode/workflow/src/components/Tabs/ProductStatusGeneralTab.vue
  modules/@ergonode/workflow/src/components/Tabs/ProductStatusTranslationsTab.vue
  modules/@ergonode/workflow/src/components/Tabs/StatusAndTransitionsTab.vue
  modules/@ergonode/workflow/src/config/imports.js
  modules/@ergonode/workflow/src/config/index.js
  modules/@ergonode/workflow/src/config/privileges.js
  modules/@ergonode/workflow/src/config/routes.js
  modules/@ergonode/workflow/src/defaults/index.js
  modules/@ergonode/workflow/src/index.js
  modules/@ergonode/workflow/src/locales/en_GB.json
  modules/@ergonode/workflow/src/locales/pl_PL.json
  modules/@ergonode/workflow/src/pages/workflow/index.vue
  modules/@ergonode/workflow/src/services/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
  modules/@ergonode/workflow/src/store/workflow/index.js
  modules/@ergonode/workflow/src/store/workflow/state.js
Labels: Workflow, feature

#883 Workflow designer skeleton
  modules/@ergonode/product-templates/src/components/TemplateDesigner/TemplateDesigner.vue
  modules/@ergonode/ui/src/components/Designer/Designer.vue
  modules/@ergonode/ui/src/components/TreeDesigner/TreeDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Tabs/StatusAndTransitionsTab.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowDesignerTab.vue
  modules/@ergonode/workflow/src/config/imports.js
  modules/@ergonode/workflow/src/config/routes.js
Labels: Core, Workflow, feature

#884 Workflow designer status headers
  modules/@ergonode/product-templates/src/components/TemplateDesigner/TemplateDesignerBackgroundItem.vue
  modules/@ergonode/ui/src/components/Designer/Designer.vue
  modules/@ergonode/ui/src/components/Designer/DesignerBackgroundItem.vue
  modules/@ergonode/ui/src/components/Designer/DesignerBackgroundLayer.vue
  modules/@ergonode/ui/src/components/Designer/DesignerBody.vue
  modules/@ergonode/ui/src/components/Designer/DesignerLayers.vue
  modules/@ergonode/workflow/src/components/Badges/WorkflowStatusBadge.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerEditStatusLink.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerHeaderLayerCell.vue
  modules/@ergonode/workflow/src/locales/en_GB.json
  modules/@ergonode/workflow/src/locales/pl_PL.json
  modules/@ergonode/workflow/src/services/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
  modules/@ergonode/workflow/src/store/workflow/state.js
  package.json
Labels: Core, UI Components, Workflow, feature

#885 Support for create / edit workflow status
  modules/@ergonode/ui/src/components/ColorPicker/ColorPicker.vue
  modules/@ergonode/ui/src/components/RichTextEditor/RichTextEditor.vue
  modules/@ergonode/ui/src/components/TextArea/TextArea.vue
  modules/@ergonode/workflow/src/components/Badges/WorkflowStatusBadge.vue
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowStatusButton.vue
  modules/@ergonode/workflow/src/components/Buttons/RemoveWorkflowStatusButton.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateTransitionsButton.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateWorkflowStatusTranslationButton.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerEditStatusLink.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerHeaderLayerCell.vue
  modules/@ergonode/workflow/src/components/Forms/WorkflowStatusForm.vue
  modules/@ergonode/workflow/src/components/Forms/WorkflowStatusTranslationForm.vue
  modules/@ergonode/workflow/src/components/Inputs/ColorPickerInputValue.vue
  modules/@ergonode/workflow/src/components/Inputs/WorkflowStatusPreview.vue
  modules/@ergonode/workflow/src/components/Modals/CreateWorkflowStatusModalForm.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowStatusGeneralTab.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowStatusTranslationsTab.vue
  modules/@ergonode/workflow/src/config/imports.js
  modules/@ergonode/workflow/src/config/routes.js
  modules/@ergonode/workflow/src/defaults/index.js
  modules/@ergonode/workflow/src/locales/en_GB.json
  modules/@ergonode/workflow/src/locales/pl_PL.json
  modules/@ergonode/workflow/src/pages/workflow/_status/_id.vue
  modules/@ergonode/workflow/src/pages/workflow/index.vue
  modules/@ergonode/workflow/src/services/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
  modules/@ergonode/workflow/src/store/workflow/state.js
Labels: Core, UI Components, Workflow, feature

#886 Support for placeholders at workflow designer
  modules/@ergonode/ui/src/assets/images/placeholders/noresults.svg
  modules/@ergonode/ui/src/assets/images/placeholders/notify.svg
  modules/@ergonode/ui/src/assets/images/placeholders/right_arrow.svg
  modules/@ergonode/ui/src/components/Placeholder/Placeholder.vue
  modules/@ergonode/ui/src/components/Placeholder/PlaceholderSubtitle.vue
  modules/@ergonode/ui/src/components/Placeholder/PlaceholderTitle.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerDefaultStatusPlaceholder.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerIllustrationPlaceholder.vue
  modules/@ergonode/workflow/src/components/Inputs/WorkflowStatusPreview.vue
  modules/@ergonode/workflow/src/locales/en_GB.json
  modules/@ergonode/workflow/src/locales/pl_PL.json
Labels: Core, UI Components, Workflow, feature

#887 Highlighting workflow designer background item
  jest.config.js
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerBackgroundItem.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerDefaultStatusPlaceholder.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerHeaderLayerCell.vue
  modules/@ergonode/workflow/src/components/Forms/WorkflowStatusForm.vue
  modules/@ergonode/workflow/src/components/Inputs/ColorPickerInputValue.vue
  modules/@ergonode/workflow/src/components/Inputs/WorkflowStatusPreview.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowDesignerTab.vue
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/WorkflowDesignerCalculations.test.js
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/__mocks__/index.js
  modules/@ergonode/workflow/src/models/workflowDesigner/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
Labels: Core, Workflow, feature

#893 Er 995/add workflow transition
  modules/@ergonode/core/src/mixins/route/beforeRouteLeaveMixin.js
  modules/@ergonode/roles/src/config/extends.js
  modules/@ergonode/ui/src/components/Designer/__tests__/Designer.test.js
  modules/@ergonode/ui/src/components/Icons/Actions/IconCancel.vue
  modules/@ergonode/ui/src/components/TitleBar/__tests__/TitleBarBreadcrumb.test.js
  modules/@ergonode/ui/src/components/TitleBar/__tests__/__snapshots__/TitleBarBreadcrumb.test.js.snap
  modules/@ergonode/workflow/src/components/Buttons/CreateWorflowTransitionButton.vue
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowStatusButton.vue
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowTransitionFab.vue
  modules/@ergonode/workflow/src/components/Buttons/CreateWorkflowTransitionsButton.vue
  modules/@ergonode/workflow/src/components/Buttons/RemoveWorkflowTransitionFab.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateWorkflowTransitionConditionDesignerButton.vue
  modules/@ergonode/workflow/src/components/Buttons/UpdateWorkflowTransitionFab.vue
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutArrow.vue
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutArrowActions.vue
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutElement.vue
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutPointer.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerBackgroundItem.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerGhostButton.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerHeaderLayerCell.vue
  modules/@ergonode/workflow/src/components/Modals/CreateWorkflowTransitionModalForm.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowDesignerTab.vue
  modules/@ergonode/workflow/src/config/index.js
  modules/@ergonode/workflow/src/defaults/cookies.js
  modules/@ergonode/workflow/src/defaults/designer/index.js
  modules/@ergonode/workflow/src/locales/en_GB.json
  modules/@ergonode/workflow/src/locales/pl_PL.json
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/WorkflowDesignerCalculations.test.js
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/__mocks__/index.js
  modules/@ergonode/workflow/src/models/workflowDesigner/index.js
  modules/@ergonode/workflow/src/pages/workflow/index.vue
  modules/@ergonode/workflow/src/services/index.js
  modules/@ergonode/workflow/src/store/workflow/actions.js
Labels: Workflow

#894 Er 1197/status e2e
  cypress/integration/11:workflow/status/1:create.feature
  cypress/integration/11:workflow/status/1:create/index.test.js
  cypress/integration/11:workflow/status/2:read.feature
  cypress/integration/11:workflow/status/2:read/index.test.js
  cypress/integration/11:workflow/status/3:update.feature
  cypress/integration/11:workflow/status/3:update/index.test.js
  cypress/integration/11:workflow/status/4:delete.feature
  cypress/integration/11:workflow/status/4:delete/index.test.js
  cypress/integration/common/actions.test.js
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesignerHeaderLayerCell.vue
  modules/@ergonode/workflow/src/components/Tabs/WorkflowDesignerTab.vue
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/WorkflowDesignerCalculations.test.js
  modules/@ergonode/workflow/src/models/workflowDesigner/__tests__/__mocks__/index.js
  modules/@ergonode/workflow/src/models/workflowDesigner/index.js
  package-lock.json
Labels: tests

#895 bugfix: workflow transition bugs
  modules/@ergonode/workflow/src/components/Designers/LayoutElements/WorkflowDesignerLayoutArrowActions.vue
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
Labels: bug

#896 feature: attribute validation with param
  modules/@ergonode/attributes/src/services/index.js
  modules/@ergonode/attributes/src/store/attribute/actions.js
  modules/@ergonode/products/src/store/product/actions.js
Labels: feature

#897 remove wrong cursor position when remove
  modules/@ergonode/workflow/src/components/Designers/WorkflowDesigner.vue
Labels: Workflow, bug
